<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <h3 class="navbar-brand">RxJS IN ACTION</h3>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="exercise1">Exercise 1</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="exercise2">Exercise 2</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="exercise3">Exercise 3</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="exercise4">Exercise 4</a></li>
    </ul>
  </div>
</nav>
